.index{
    background-image: url('../img/index-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    height: 85vh;
    .container-fluid{
        .container{
            .row{
                .col-12{
                    h1{
                        b{
                            font-size: 100px;
                            color: $color-1;
                        }
                    }
                    button{
                        a{
                            text-decoration: none;
                            color: $color-1;
                        }
                        transition: all 0.5s ease;
                        &:hover{
                            transform: scale(1.2);
                            transition: all 0.5s ease;
                        }
                    }
                }
            }
        }
    }
}